@model Inmobiliaria.Models.TipoInmueble

@{
    ViewData["Title"] = "Delete";
}

<h4>Eliminar Tipo de Inmueble</h4>
<div>
    <h4>TipoInmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a Tipo de Inmuebles</a>
    </form>
</div>
